@model IEnumerable<Student_Management.Models.Student>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Class
            </th>
            <th>
                Roll Number
            </th>
            <th>
                Name
            </th>
            <th>
                Status
            </th>
            <th>
                Comment
            </th>
            <th>
                Image
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Class.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                
                @{
                    if (item.Status == false)
                    {
                        <td style="color:red;">Absent</td>
                    }
                    else
                    {
                        <td style="color:limegreen;">Present</td>
                    }
                }
                <td>
                    @Html.DisplayFor(modelItem => item.Comment)
                </td>
                
                <td>
                    <img src="@item.Image" alt="Student Image" width="70px" height="70px" />
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>

        }
    </tbody>

</table>
